# Argon
/sourcemap.json

# Wally
/Packages
/ServerPackages
/DevPackages

# Artifacts
/*.lock
/*.rbxl
/*.rbxlx

# Misc
.DS_Store
Stand Models/
stands.md
src/ReplicatedStorage/AdminStands/
src/ReplicatedStorage/Assets/AdminStands/